[submodule "lib/Socket.IO"]
	path = lib/Socket.IO
	url = http://github.com/LearnBoost/Socket.IO.git
[submodule "lib/Socket.IO-node"]
	path = lib/Socket.IO-node
	url = http://github.com/LearnBoost/Socket.IO-node.git
[submodule "lib/express"]
	path = lib/express
	url = http://github.com/visionmedia/express.git

[submodule "lib/html5-boilerplate"]
	path = lib/html5-boilerplate
	url = http://github.com/robrighter/html5-boilerplate.git
[submodule "lib/node-cms"]
	path = lib/node-cms
	url = git://github.com/robrighter/node-cms.git
[submodule "lib/formidable"]
	path = lib/formidable
	url = https://github.com/felixge/node-formidable.git
